/* Set padding to keep content from hitting the edges */
/*.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}*/

html, body {
    height: 100%;
}
.container-fluid.body-content {
    width: 95% !important;
    max-width: 1800px !important;
    padding: 30px !important;
    margin-top: 40px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.body-content {
    background-color: rgba(255, 255, 255, 0.6);
    /* White with 60% opacity */
    border-radius: 20px; /* Gives it nice rounded corners */
    /* more spacing from navbar */
    margin-top: 45px;
    /* more spacing at bottom */
    margin-bottom: 45px;
    /* softer modern shadow */
    box-shadow: 0 8px 30px rgba(0,0,0,0.18);
    width: 95%; /* Take up 95% of the screen... */
    max-width: 1400px !important;
}

body {
    padding-bottom: 20px;
    /* 1. Set the background image path */
    background-image: url('/Content/Images/water-bg.png');
    /* 2. Center the image perfectly */
    background-position: center center;
    /* 3. Tell the browser not to duplicate/tile the image */
    background-repeat: no-repeat;
    /* 4. Lock the image to the screen so it doesn't move when you scroll down */
    background-attachment: fixed;
    /* 5. Force the image to dynamically scale to cover the entire screen */
    background-size: cover;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media (max-width: 768px) {
    body {
        background-attachment: scroll;
    }
    .body-content {
        padding: 20px;
        border-radius: 15px;
        margin-top: 20px;
    }
}

